{% extends "layouts/layout-jumbotron.twig" %}
{% set page_group = "loggedout" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}
    
    {% set page = page | merge({
        "title"       : "Login",
        "active_page" : "account/login"
    }) %}    
    {{ parent() }}
{% endblock %}


{% block content %}
  <div class="app app-default">

<div class="app-container app-login">
  <div class="flex-center">
    <div class="app-header"></div>
    <div class="app-body">
      <div class="loader-container text-center">
          <div class="icon">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
              </div>
            </div>
          <div class="title">Logging in...</div>
      </div>
      <div class="app-block">
      <div class="app-form">
        <div class="form-header">
          <div class="app-brand"><span class="highlight">Curpha IOT</span> Login</div>
        </div>
        <form name="login" method="post" action="{{site.uri.public}}/account/login">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control " aria-describedby="basic-addon1" name="user_name" autocomplete="off" value="" placeholder="{{ (site.email_login == 1) ? 'Username or Email' : 'Username' }}">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">
                <i class="fa fa-key" aria-hidden="true"></i></span>
              <input type="password" class="form-control " name="password" aria-describedby="basic-addon2" autocomplete="off" value="" placeholder="Password">
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-success btn-submit" value="Login">
            </div>
        </form>

        <div class="form-line"></div>
      </div>
      </div>
    </div>
  </div>
</div>

  </div>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="js/vendor.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
    <script>
        $(document).ready(function() {           
            // Process form 
            ufFormSubmit(
                $("form[name='login']"),
                {{ validators | raw }},
                $("#userfrosting-alerts"),
                function(data, statusText, jqXHR) {
                    // Forward to home page on success
                    window.location.replace(site['uri']['public']);
                }
            );
        });          
    </script>
{% endblock %}

