
{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "dashboard" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Dashboard",
        "description" : "Your user dashboard."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group pull-right m-t-15">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                        <ul class="dropdown-menu drop-menu-right" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <h4 class="page-title">Monitoring</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Curpha</a>
                        </li>
                        <li>
                            <a href="#">Charts</a>
                        </li>
                        <li class="active">
                             Monitoring
                        </li>
                    </ol>
                </div>
            </div>
            
            <!-- row 1 -->
            <div class="row">

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Total Sales</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list">
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #387aa3;"></i>Desktops</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #649eb9;"></i>Tablets</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #9dc2d3;"></i>Mobiles</h5>
                                </li>
                            </ul>
                        </div>

                        <div id="morris-area-with-dotted" style="height: 300px;"></div>

                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Sales Analytics</h4>
                        <div class="text-center">
                            <ul class="list-inline chart-detail-list">
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #d97b7b;"></i>Desktops</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #c4e2f9;"></i>Tablets</h5>
                                </li>
                                <li>
                                    <h5><i class="fa fa-circle m-r-5" style="color: #f3d57c;"></i>Mobiles</h5>
                                </li>
                            </ul>
                        </div>


                        <div id="morris-bar-stacked" style="height: 303px;">

                        </div>

                    </div>
                </div>

            </div>
            
            <!-- row 2 -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-info">
                                        <i class="icon-layers"></i>
                                    </div>
                                </div>

                                <div class="table-detail">
                                   <h4 class="m-t-0 m-b-5"><b>1256</b></h4>
                                   <h5 class="text-muted m-b-0 m-t-0">Visiters</h5>
                                </div>
                                <div class="table-detail text-right">
                                    <span data-plugin="peity-bar" data-colors="#119ee0,#c7e4fa" data-width="120" data-height="45">5,3,9,6,5,9,7,3,5,2,9,7,2,1</span>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-custom">
                                        <i class="icon-layers"></i>
                                    </div>
                                </div>

                                <div class="table-detail">
                                   <h4 class="m-t-0 m-b-5"><b>1256</b></h4>
                                   <h5 class="text-muted m-b-0 m-t-0">Visiters</h5>
                                </div>
                                <div class="table-detail text-right">
                                    <span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card-box">
                        <div class="bar-widget">
                            <div class="table-box">
                                <div class="table-detail">
                                    <div class="iconbox bg-danger">
                                        <i class="icon-layers"></i>
                                    </div>
                                </div>

                                <div class="table-detail">
                                   <h4 class="m-t-0 m-b-5"><b>1256</b></h4>
                                   <h5 class="text-muted m-b-0 m-t-0">Visiters</h5>
                                </div>
                                <div class="table-detail text-right">
                                    <span data-plugin="peity-donut" data-colors="#f05050,#ebeff2" data-width="50" data-height="45">1/5</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- row 3 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Line Chart</b></h4>
                        <p class="text-muted m-b-15 font-13">A line chart is a way of plotting data points on a line.
                            Often, it is used to show trend data, and the comparison of two data sets.
                        </p>

                        <canvas id="lineChart" height="300"></canvas>
                    </div>
                </div>

                <div class="col-lg-6">
								<div class="card-box">
									<h4 class="m-t-0 header-title"><b>Bar Chart</b></h4>
									<p class="text-muted m-b-15 font-13">A bar chart is a way of showing data as bars.
										It is sometimes used to show trend data, and the comparison of multiple data sets side by side.
									</p>

                                    <canvas id="bar" height="300"></canvas>
								</div>
							</div>
            </div>
            
            <!-- row 4 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Pie Chart</b></h4>
                        <p class="text-muted m-b-15 font-13">Pie and doughnut charts are probably the most commonly used chart there are. They are 
                            divided into segments, the arc of each segment shows the proportional value of each piece of data.
                        </p>

                        <canvas id="pie" height="260"></canvas> 
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Donut Chart</b></h4>
                        <p class="text-muted m-b-15 font-13">Pie and doughnut charts are probably the most commonly used chart there are. They are 
                            divided into segments, the arc of each segment shows the proportional value of each piece of data.
                        </p>

                        <canvas id="doughnut" height="260"></canvas>
                    </div>
                </div>
            </div>
            
            <!-- row 5 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Polar area Chart</b></h4>
                        <p class="text-muted m-b-15 font-13">Polar area charts are similar to pie charts, but each segment has the same angle - the radius 
                            of the segment differs depending on the value.
                        </p>

                        <canvas id="polarArea" height="300"> </canvas>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Radar Chart</b></h4>
                        <p class="text-muted m-b-15 font-13">A radar chart is a way of showing multiple data points and the variation between them.
                            They are often useful for comparing the points of two or more different data sets.
                        </p>

                        <canvas id="radar" height="300"></canvas>
                    </div>
                </div>
            </div>
            
            <!-- row 6 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">
                                Multiple Statistics
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                <span class="divider"></span>
                                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet1" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div id="website-stats" style="height: 320px;" class="flot-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">
                                Realtime Statistics
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                                <span class="divider"></span>
                                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet2" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div id="flotRealTime" style="height: 320px;" class="flot-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- row 7 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">
                                Donut Pie
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                <span class="divider"></span>
                                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet3" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div id="donut-chart">
                                    <div id="donut-chart-container" class="flot-chart" style="height: 320px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">
                                Pie Chart
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                <span class="divider"></span>
                                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet4" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div id="pie-chart">
                                    <div id="pie-chart-container" class="flot-chart" style="height: 320px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <!-- row 8 -->
            <div class="row">            
                <div class="col-lg-12">
                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">
                                Pie Chart
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet7"><i class="ion-minus-round"></i></a>
                                <span class="divider"></span>
                                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet7" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div id="ordered-bars-chart" style="height: 320px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <!-- row 9 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet"><!-- /primary heading -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">
                                Combine Statistics
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet5"><i class="ion-minus-round"></i></a>
                                <span class="divider"></span>
                                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="portlet5" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div id="combine-chart">
                                    <div id="combine-chart-container" class="flot-chart" style="height: 320px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


{% endblock %}


{% block page_scripts %}
       <script src="assets/plugins/flot-chart/jquery.flot.min.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.time.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.resize.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.pie.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.selection.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.stack.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.orderBars.min.js"></script>
        <script src="assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>
        <script src="assets/pages/jquery.flot.init.js"></script>
            
        <!-- Chart JS -->
        <script src="assets/plugins/chart.js/chart.min.js"></script>
        <script src="assets/pages/jquery.chartjs.init.js"></script>
{% endblock %}
            
            
            
            
            
